@font-face {
    font-family: "IRANVazir";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/Vazirmatn-Regular.woff2") format("woff2");

    }


@font-face {
    font-family: "IRANVazir";
    font-weight: 700;
    font-style: bold;
    src: url("/assets/fonts/Vazirmatn-ExtraBold.woff2") format("woff2");

}

body, button {
    font-family: "IRANVazir";
}